.page-content [class*="span"] {
  /*  shouldn't need this if row class used in template
  margin-left: 0;
  margin-right: 30px;
  */
}
.view-subject-librarian-profile [class*="span"] {
  margin-right:0;
}
@media (max-width: 980px) {
  #navbar .navbar-inner  {
    padding-left: 30px;
    padding-right: 30px;
  }
  .navbar .btn-navbar {
    margin:0;
    margin-top:25px;
  }
  #navbar .navbar-inner  {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .main-container {
    padding: 0;
  }
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin:0;
  }
  .region-content, .region-header, .page-header, .region-sidebar-first {
    padding: 0 20px 0 20px;
  }
  body.front ul.button-menu li, body.front ul.button-menu {
    float:left;
    margin:0;
  }

  .nav-collapse .nav > li {
    float: left;
    border-radius: 5px;
    margin: 2px;
    min-width: 48%;

    background: #5cb7c9; /* Old browsers */
    background: -moz-linear-gradient(top, #5cb7c9 8%, #3097b5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#5cb7c9), color-stop(100%,#3097b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #5cb7c9 8%,#3097b5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #5cb7c9 8%,#3097b5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #5cb7c9 8%,#3097b5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #5cb7c9 8%,#3097b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5cb7c9', endColorstr='#3097b5',GradientType=0 ); /* IE6-9 */
  }

  .page-content [class*="span"] {
    padding:0;  
  }
  [role=complementary] {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e0e0e0;
  }
}
@media (max-width: 480px) {
  .mobile-shorten {
    display:none;
  }
  #block-menu-menu-home-actions ul.menu a {
    margin:0;
  }
  body.front ul.button-menu li .btn-large {
    padding: 12px;
  }
}