body, html {
  height: 100%;
  padding-top: 0;
  position: relative;
}
body {
  background-color: #f0f0f0;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ffffff;
}
.page-content {
  margin-bottom: 30px;
}
.page-content .node ul {
  /* list-style:none; */
  margin-left: 0;
  padding-left: 20px;
  /* http://stackoverflow.com/questions/710158/why-do-my-list-item-bullets-overlap-floating-elements */
  overflow: hidden;
}
.page-content .content ul li {
    margin-bottom:15px;
    margin-top:5px;
}
.page-content .content .view ul {
  padding-left: 0;
  margin-left: 0;
}
.page-content .content .view li{
  list-style:none; 
  margin:0;
}

#wrapper {
  padding-bottom: 120px; /* Height of the footer */
  min-height:100%;
  position:relative;
}

.navbar-fixed-top {
  position: relative;
}

#navbar {
  margin-bottom: 0;
  zoom: 1;
  line-height: 1.1;
}
.navbar-inner {
  background-image: none;
  padding-top: 30px;
  border: 10px solid black;
  filter: none;
}
.navbar .brand {
  display: block;
  float: left;
  padding: 20px 20px 20px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  text-shadow: none;
  overflow: hidden;
}
#site-name a {
  font-size: 40px;
  margin-top: -6px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;

}
.main-container {
  padding: 20px 0 100px 0;
}
.page-header {
padding-bottom: 9px;
margin: 0 0 20px;
border-bottom: 1px solid #eeeeee;
}
.navbar .nav li a {
  float: none;
  padding: 20px 15px 20px 15px;
  color: #444;
  color: #fafafa;
  text-decoration: none;
  text-shadow: 0 1px 0 #216477;
  text-shadow: none;
}
.front .navbar .nav li a {
  color: white;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-bottom: 1px solid #216477;
}
.navbar .nav {
  float: right;
  margin-right:;
}

h1 {
  font-size:24px;
}
h2, h3 {
  font-size: 21px;
  background-repeat: n
}
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}
.breadcrumb {
list-style: none;
background-color: #333;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.breadcrumb > li {
text-shadow: none;
}
.breadcrumb > li a {
 color: #aaa;
}
#page-header {
  display:none;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

.button-menu {
  list-style: none;
  list-style-image: none;
}
body.front #page-header {
  display: block;
}

@media (max-width: 767px) { 
  body.front {
    background-position: -50px 0;
  }
}


.front #main-region {
  background-color: #fafafa;
}

.block.collapsible h2 {
  cursor: pointer;
}
.homebox {
  clear:left;
  margin-bottom:20px;
  color: white;
  font-weight: 200;
  -moz-box-shadow: 0px 0 5px #888;
  -webkit-box-shadow: 0px 2px 5px #888;
  box-shadow: 0px 1px 5px #bbb;
}
.homebox .content {
  border: 1px solid #999;
  border-radius: 4px;

}

.homebox .content {
  padding: 20px;
  padding-top: 0;
}
.homebox a { color: white; }
.homebox .block-title {
  font-weight: 200;
  text-align: center
}
.homebox .views-field {
  margin-bottom: 10px;
}
.footer {
  background-color: #444;
  margin-top: 0;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
     position:absolute;
   width:100%;
   height:120px;   /* Height of the footer */
}
/* end of home page */
/* subject area pages */
#block-views-subject-librarian-profile-block{
  /*display: inline-block;
  float:left;*/
}
.view-subject-term {
  position: relative;
}
.view-subject-term button{
  position: absolute;
  top: 0;
  right:0;
}
.view-subject-term .view-content {
  margin-top:20px;
  margin-bottom: 20px;
}
#block-views-subject-librarian-profile-block .content {
  padding-right: 30px;
  padding-bottom: 20px;
}

@media (min-width: 980px) {
  .view-mode-full .field-name-field-image,
  .view-mode-lightbox .field-name-field-image {
    float:left;
  }
}
.view-mode-thumb_teaser {
  margin-bottom:10px;
}
.view-mode-full .field-name-field-image,
.field-name-field-image,
.view-mode-lightbox .field-name-field-image,
.field-name-field-profile-picture {
  margin: 0 20px 20px 0;
}
/* stop text wedge around views at larger screen sizes (relies on context class)*/
.related .node-page {
  clear:both;
}
.node-page table tr td {
  padding-right:20px;
}
table.views-view-grid td {
  border: 0;
  padding:0;
}

h3.offset-top {
  margin-top: -10px;
}


.ui-accordion-content .views-row {
  margin-bottom: 1em;
}
.ui-accordion-content a {
color: #0088cc;
}
.ui-widget-content {
  background: inherit;
}